*{
    margin: 0px;
    border:0px;
    padding:0px;
    
    
}
body
{
    font: 'Roboto';
    font-style: normal;
    font: Roboto;
}
section
{
    width:100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    /* display: flex; */

}

.hero-section
{
    margin-top: 0px;
    width: 100%;
    /* width: 1440px; */
    height: 100vh;
    background:linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url(../Images/drawing.jpeg) no-repeat;
    background-size: cover;
    mix-blend-mode: normal;
    /* 0deg, opacity: 0.32; */
    /*  */
    /* #C78446 */
}

.hero-section div
{
    display: flex;
}
.hero-section div a
{
    text-decoration: none;
    color: white;
    /* width:77px ; */
    height: 21px;
    font-size: 18px;
    font-weight: 700;
    font-style: normal;
    position: relative;

}

.first
{
    margin-top:71px;
  
    line-height: 21.09px;
    color: #FFFFFF;
}

.second 
{
    margin-top: 75px;

}

#logo
{
    width: 72px;
    height: 57px;
    margin-left: 87px;
    /* margin-top:56px */
   
}

#serv
{
    margin-left: 47px;
    width: 70px;
    height: 21px;

}

#com
{
    margin-left: 33px;
    width: 77px;
    height: 21px;

}

.log
{
    margin-left: 600px;
    
}
#btn
{
    margin-left: 40px;
    margin-top:56px;
    padding: 19px 30px 18px 31px;
    background-color: #382C23;
    color: white; 
    border-radius: 30px; 
    width: 187px;
    height: 64px;
     /* font-size: 18px; */
    /* line-height: 27px; */
    /*
    width: 187px;
    height: 64px;
     */

}

.hero-text{
    color: #FFFFFF;
    margin-left: 77px;
    margin-top: 185px; 
    width:850px; 
    position: absolute;
    font: Roboto;
    height: 150px;
    /* left: 77px; */
    /* top: 353px; */

    
    font-style: normal;
    font-weight: bold;
    font-size: 44px;
    line-height: 55px;


}


.hero-text b
{
    color:#382C23;
}
.hero-btn
{
    margin-top: 290px;
    margin-left: 80px;
}

.hero-btn button
{
    background-color: #303030;
}
.sec-one
{
    background-color: #E5E5E5;
    /* justify-content: center; */
    align-items: center;
}

.sec-one 
{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    /* margin: 0px 20px 0px 200px; */
}
.sec-one h3
{
    text-align: center;
    padding-top: 70px;
    color: #382C23;
    margin-bottom: 80px;
    font-size: 48px;
    font-weight: 700px;
    height: 56px;
}

#sec1-text
{
    display: grid;
    grid-template-columns: repeat(4, 250px);
    grid-gap: 20px;
    /* margin-left: 85px; */
}



.sec-three
{
    display: flex;
    background-color: #C4C4C4;
}

.first-cat-div
{
    /* margin-left: 193px; */
    margin-right: 80px;
    width: 412px;
    height: 428px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;


}
/* 61 39 */
.first-cat-div h3
{
    margin-top: -40px;
    margin-bottom: 29px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    
    

}

.first-cat-div ul
{
    margin-left: 45px;
    
}

.bk-btn
{
    margin-top: 45px;
    margin-left: 0px;
    padding: 19px 30px 18px 31px;
    background-color: #382C23;
    color: white; 
    border-radius: 30px; 
    width: 187px;
    height: 64px;
}

.img-section
{
    display: grid;
    grid-template-columns: repeat(2, 220px);
    grid-gap: 10px;
    margin-top: 78px;
    margin-bottom: 78px;
}

.img-section img 
{
    border: 1px solid #382C23;
    /* padding: 0px; */
}

.img-section div figcaption
{
    color:#51321D;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    /* font-size: */
}

.img-section div figcaption:after
{
    content: " ";
    display: block;
    background-color: #51321D;
    height: 2px;
    width: 70px;
    margin-top: 10px;
}


/* -------------------sec four--------- */
.sec-four
{
    background-color: #E5E5E5;
    text-align: center;
    align-items: center;

}

.sec-four h3
{
    text-align: center;
    padding-top: 70px;
    color: #382C23;
    margin-bottom: 60px;
    font-size: 48px;
    font-weight: 700px;
    height: 56px;
}

.sec-four-img
{
    display: flex;
}

.sec-four-img img
{
    border:1px solid #382C23;
    margin-left: 86px;
    margin-right: 147px;

}
.why-us
{
    color: #382C23;
    font: Roboto;
    display: grid;
    grid-template-columns: repeat(2, 320px);
    grid-gap: 20px;
    /* margin-top: px; */
    /* margin-bottom: 78px; */

    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
  
    line-height: 21px;

}

.why-us h4
{
    font-size: 18px;
}

.why-us p
{
    font-size: 14px;
}



.sec-five
{
    background-color: #C4C4C4 ;
    justify-content: center;
    align-items: center;
    display: flex;
}

.sec-five h3
{
    margin-top: -100px;
    text-align: center;
    color :#382C23;
    text-align: center;
    /* padding-top: 70px;
   
    margin-bottom: 60px;
    font-size: 48px;
    font-weight: 700px;
    height: 56px; */
}



.sec-five p
{
    text-align: center;
    width: 393px;
    height: 296px;

}

.div-one
{
    background-color: #050505;
    margin-top: 57px;
    margin-bottom: -47px;
    width: 710px;
    height: 320px;
    position: relative;
  
}

.div-two
{
    background-color: white;
    margin: 54px 81.5px 54px 81.5px;
    width: 540px;
    height: 220px;
    position: absolute;
  
}

.inner-div
{
    position: relative;
    /* border :5px solid rgb(95, 45, 45) ; */
    height: 200px;
    margin-top: 25px;
    
}

.inner-div p
{

    text-align: left;
    color: #382C23;
    position: absolute;
    margin-left: 90px;
    margin-top: 20px;
    width:350px;
    
}

#name
{
    text-align: end;
}



.last-sec
{
    height: 350px;
    width: 100%;
    background-color: #382C23;
    justify-content: center;
    align-items: center;
    display: flex;
    border-bottom: 1px solid white;
}

.last-sec-grid
{
    display: grid;
    grid-template-columns: repeat(4, 200px);
    /* grid-gap: 10px; */
    color: #fff;
    line-height: 35px;

}

.last-sec-grid h4
{
    margin-top: 9px;
    margin-bottom: 21px;
    /* //styleName: Handyfix Text Style/Body Bold 24pt; */
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 1px;
    text-align: left;


}

.last-sec-grid ul
{
    list-style-type: none ;
    
}

.last-sec-grid ul
{
    font-size: 14px;

}


footer
{
    width: 100%;
    height: 99px;
    background-color: #382C23;
    color: #fff;
    display: flex;
    /* padding-top: 20px; */
    

}



.logo
{
    margin-top: 20px;
    margin-left: 20px;
    /* */
    margin-right: 60%;
    display:flex;
}
#copy
{
    margin-top: 20px;
    /* text-align: end; */
}
