 *{
   padding: 0;
   margin: 0;
 }
/* this is the styling forLogin page */
 .App{
 max-width: 400px; 
  margin-left:auto;
 margin-right:auto; 
margin-top: 100px;
/* max-height: 100vh; */

 
}
.Loginform{
  display: flex;
  flex-direction: column;
}
.Login{
  border-radius:7px ;
  width:400px ;
  height: 30px;
  padding: 10px;
  margin:20px 10px 10px 0px;
}
.Loginbtn{
  border-radius:7px ;
  width:420px ;
  height: 40px;
  padding: 10px;
  margin:20px 10px 10px 0px;
}
.forgetpassword{
  display: flex;
  flex-direction:row ;
  max-width: 400px; 
  justify-content: space-between;
  margin-top: 50px;
  margin-bottom: 50px;
}
.LoginP{
 margin-left: auto;
 margin-right: auto;
 margin-top: 10px;
 margin-bottom:10px ;
}

.Loginh2{
margin: auto;
  margin-top: 20px;
}

/* this is the styling for signUp page */
.SignUp{
  margin-left:auto;
margin-right:auto;
padding: auto;
max-width: 400px;
display: flex;
flex-direction: column;
margin-top: 25px;

}

.SignUpHead{
  margin-bottom:10px;
  margin-top: 15px;
}
.SignUpForm{
  max-width: 400px;
  
 
}
.SignUpInput{
width:400px;
height: 30px;
margin:10px 0 10px 0;
border-radius: 7px;
padding: 10px;
}

.TandC a{
  color: black;
  text-decoration: none;
  margin-bottom: 15px;
}
.TandC{
  margin-bottom:10px; 
  margin-top:10px;
  text-decoration: none;
}
.SignUpcheckbox{
  margin: 2px;
 
}

.SignUpCtn button{
height:35px;
  width:250px;
  border-radius:7px;
}
.SignUpCtn{
  margin-top: 15px;
}



/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
